<div class="container">
  <h1 class="top-title">
    旅行の思い出を共有と<br>
    地元自慢してみませんか？
  </h1>
  
  <div class="prefectures-index">
    <%= link_to root_path do %>
      <%= image_tag "prefectures.png", class: "prefectures" %>
    <% end %>
  </div>
</div>