<div class ="back-image">

  <div class="top-body">
    <p class="top-title"><br><br><br>
      旅行の思い出を共有や<br>
      地元自慢してみませんか？
    </p>
      
    <%= link_to prefectures_path do %>
      <%= image_tag "prefectures.png", class: "prefectures" %>
    <% end %>    
  </div>

</div>