// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-title {
  text-align: center;
}

.prefectures-index {
  text-align: center;
}

.prefectures {
  width: 150px;
  height: 50px;
  border-radius: 30px;
}